<div class="card">
    <div class="container">
      <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
        <div class="row">
        <div class="form-group col-sm-6">
          <label for="courseName">Course Name</label>
          <input type="text" class="form-control" id="courseName" formControlName="courseName">
          <app-error-message [control]="courseForm.get('courseName')" errorMessage="Course Name is required."></app-error-message>
        </div>
  
        <div class="form-group col-sm-6">
          <label for="courseDescription">Course Description</label>
          <textarea class="form-control" id="courseDescription" formControlName="courseDescription"></textarea>
          <app-error-message [control]="courseForm.get('courseDescription')" errorMessage="Course Description is required."></app-error-message>
        </div>
  
        <div class="form-group col-sm-6">
          <label for="courseDuration">Course Duration (in hours)</label>
          <input type="number" class="form-control" id="courseDuration" formControlName="courseDuration">
          <app-error-message [control]="courseForm.get('courseDuration')" errorMessage="Course Duration is required and must be a positive number."></app-error-message>
        </div>

        <div class="form-group col-sm-6">
          <label for="courseRating">Validity</label>
          <input type="text" class="form-control" id="validity" formControlName="validity" step="0.1" min="0" max="5">
          <app-error-message [control]="courseForm.get('validity')" errorMessage="Validity is required."></app-error-message>
        </div>
  
        <div class="form-group col-sm-6">
          <label for="courseFees">Course Fees</label>
          <input type="number" class="form-control" id="courseFees" formControlName="courseFees">
          <app-error-message [control]="courseForm.get('courseFees')" errorMessage="Course Fees is required and must be a non-negative number."></app-error-message>
        </div>
  
        <div class="form-group col-sm-6">
          <label for="courseImage">Add ThumbNail <span style="color:red;font-size: 10px;">(Recommend Image size 800px X 600px)</span></label>
          <div class="custom-file-upload">
            <label for="courseImage" class="custom-file-label">
              <i class="fa fa-upload"></i> Upload Thumbnail Image
            </label>
            <input type="file" class="form-control-file" id="courseImage" (change)="onChange($event)" accept="image/png, image/jpg, image/jpeg">
          </div>
          <span style="color:red" *ngIf="isCourse">Thumbnail is required.</span>
        </div>
  
        <div class="form-group col-sm-6">
          <label for="courseRating">Course Rating (0 to 5)</label>
          <input type="number" class="form-control" id="courseRating" formControlName="courseRating" step="0.1" min="0" max="5">
          <app-error-message [control]="courseForm.get('courseRating')" errorMessage="Course Rating is required and must be between 0 and 5."></app-error-message>
        </div>
  
        <div class="form-group col-sm-6">
          <label for="courseCategory">Course Category</label>
          <select class="form-control" id="courseCategory" formControlName="courseCategory">
            <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
          </select>
          <app-error-message [control]="courseForm.get('courseCategory')" errorMessage="Course Category is required."></app-error-message>
        </div>
  
        <div class="form-group col-sm-6">
          <label for="courseSubCategory">Course Sub-Category</label>
          <select class="form-control" id="courseSubCategory" formControlName="courseSubCategory">
            <option value="Web Development">Web Development</option>
                <option value="Mobile Development">Mobile Development</option>
          </select>
          <app-error-message [control]="courseForm.get('courseSubCategory')" errorMessage="Course Sub-Category is required."></app-error-message>
        </div>
    </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="d-flex justify-content-center" *ngIf="isLoader">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>