

    <!-- =============== Navigation ================ -->
    <div>
        <div>
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <!-- <ion-icon name="logo-apple"></ion-icon> -->
                        </span>
                        <span class="title">Brand Name</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                          <i style='font-size:24px' class='fab'>&#xf26e;</i>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/course/list">
                        <span class="icon">
                            <!-- <ion-icon name="people-outline"></ion-icon> -->
                        </span>
                        <span class="title">Courses</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/batch/list">
                        <span class="icon">
                            <!-- <ion-icon name="chatbubble-outline"></ion-icon> -->
                        </span>
                        <span class="title">Batches</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <!-- <ion-icon name="help-outline"></ion-icon> -->
                        </span>
                        <span class="title">Content</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/student/list">
                        <span class="icon">
                            <!-- <ion-icon name="help-outline"></ion-icon> -->
                        </span>
                        <span class="title">People</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
       
    </div>


